@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.navbar {
  margin: 40px auto;
  width: 50%;
  background: lightblue;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
}

.navbar > ul {
  list-style: none;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 60px;
  border: 1px solid #628d9c;
  border-radius: 5px;
}
.navbar li > a {
  text-decoration: none;
  color: black;
}
